*{  
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #002b57;
}

.navbar-mytheme{
    background-color: white;
    margin-bottom: 0;
}

.navbar li a{
    color: #002b57;
}

.ocean-brand{
    margin-right: 100px;
}

.sign-btn{
    border: 2px solid #008cff;
    color: #008cff;
}

section{
    padding:50px 0 50px 0;
    margin-top: 0;
}

.hero{
    background-image: url(img/bg-banner-home.jpg);
    background-size: 110%;
    background-position: top;  
}

.hero h1{
    font-size: 52px;
    color: white;
}

.hero p{
    font-size: 18px;
    color: rgb(224, 224, 228);
    line-height: 30px;
}

#get{
    line-height: 30px;
    color: #008cff;
}

.hero input{
    margin-bottom: 10px;
}

.panel-body p{
    font-size: 10px;
    margin-top: 5px;
}

.panel-body button{
    position: relative;
}

button span img{
    position: absolute;
    left: 2%;
    width: 5%;
    margin-left: 0;    
}

main p{
    color: slategrey;
}

.main-top-one, .main-mid-one, .main-bot-two{
    background-color:#f2f6fa;
}

.main-top-one .row{
    margin-top: 50px;
    margin-bottom: 50px;
}

#opt{
    margin-bottom: 50px;
    font-size: 18px;
}

.main-top-two li {
    list-style: none;
    padding: 10px;
    border-left: 1px solid slategrey;
}

.main-top-two li a{
    color: slategrey;
}





